<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-dischi</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>

<body>

    <div id="app">
        <header class="app-header">
            <img src="./img/logo.png" alt="Spotify logo">
        </header>
        
        <div class="cds-container">
            <ul class="cds-list" v-if="cds.length > 0">
                <li class="cd" v-for="cd in cds">
                    <div class="cover">
                        <img :src="cd.poster" :alt="`${cd.title} Album logo`">
                    </div>
                    <h2 class="title">{{ cd.title }}</h2>
                    <h3 class="author">{{ cd.author }}</h3>
                    <span class="year">{{ cd.year }}</span>
                    <span class="genre">{{ cd.genre }}</span>
                </li>
            </ul>
            <h2 v-else class="loader">Loading email</h2>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/main.js"></script>
    
</body>
</html>